*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color:#2b2723;
}
body{
    background-color: #FFFFF3;
}
.grid-wrp>header,footer{
    background-color:#FFFFF3;
    background-image: linear-gradient(90deg, rgba(223, 48, 45,.2) 50%, transparent 50%),
    linear-gradient(rgba(223, 48, 45,.2) 50%, transparent 50%);
    background-size:50px 50px;
}
.menu-toggle,.soc a,.search{
    padding: .75em 15px;
  line-height: 1.5em;
  font-size: 1.5em;
}
a:hover{
    color: #49AA49;
}
.header-wrp a:hover,.footer-wrp a:hover{
    color: #df302d;
}
.grid-wrp{
    width: 100%;
    display: grid;
    grid-gap: 10px;
    justify-content:center;
}.grid-wrp>header{
    grid-area: header;
}
#author{
    grid-area: author;
}
#author img{
    display: block;
    width: 100%;
    height: 100%;
}
#aside{
    grid-area: aside;
}
main{
    grid-area: main;
}
footer{ 
    grid-area: footer;
 }
.header-wrp,.footer-wrp{
    display:grid;
}
.logo-h{
    grid-area: logo-h;
}
.menu-h{
    grid-area: menu-h;
}
.soc,.menu>ul{
    display: flex;
}
.soc-h{
    grid-area: soc-h;
}
.search-h{
    grid-area: search-h;
}
.search>a{
    display: block;
    height: 100%;
    width: 100%;
}
.main-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 10px;
    justify-content: space-between;
}
.main-header{
    text-align: center;
    padding-bottom: 20px;
}
.card .card-img{
    transition: transform .5s ease;
}
.card-img-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.card-img{
    display: block;
    width: 100%;
    height: 100%;
}
.card:hover .card-img{
    transform: scale(1.5);
}
aside section{
    text-align: center;
}
.tags{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
.tags>li{
    font-size: 1.5em;
    text-indent: 0.5em;
}
.comments{
    display: flex;
    flex-direction: column;
}
.comment{
    display: grid;
    grid-gap:3px;
    grid-template-rows: 1f 1fr;
    grid-template-columns: auto 1fr;
}
.comment>img{
    width: 50px;
    height: 50px;
    grid-row: 1/3;
}
.comment>p{
    grid-column: 2/3;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.comment>header{
    padding: 0.3em;
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}/* menu is from https://medium.com/@heyoka/responsive-pure-css-off-canvas-hamburger-menu-aebc8d11d793*/
@media only screen and (max-device-width:767px){
    .grid-wrp{
    grid-template-columns: 1fr;
    grid-template-areas: "header"
    "author"
    "main"
    "aside"
    "footer"
   }
   .soc-h{
       display: none;
   }
.menu-toggle {
    grid-column: 1/2;
    grid-row: 1/1;
  display: inline-block;
}
.menu {
  position: absolute;
  display: none;
  left: -200px;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 0.3s ease,
    	box-shadow 0.3s ease;
  z-index: 999;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  flex-direction: column;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(43, 39, 35,.5);
     -moz-box-shadow: -8px 0 8px rgba(43, 39, 35,.5);
          box-shadow: -8px 0 8px rgba(43, 39, 35,.5);
  min-height: 100%;
  width: 200px;
  background:#FFFFF3;
}
.menu a {
  display: block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  text-decoration: none;
  border-bottom: 1px solid #2b2723;
}
.menu li:first-child a {
  border-top: 1px solid  #2b2723;
}
.menu a:hover,
.menu a:focus {
  text-decoration: underline;
}
.menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}
.menu:target,
.menu[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(43, 39, 35,.5);
  -webkit-box-shadow: 3px 0 12px rgba(43, 39, 35,.5);
  box-shadow: 3px 0 12px rgba(43, 39, 35,.5);
}
.menu:target .menu-close,
.menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}
.menu:target ul,
.menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}
.menu:target + .backdrop,
.menu[aria-expanded="true"] + .backdrop{
  position: absolute;
  display: block;  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background:#2b2723;;
  cursor: default;
}

@supports (position: fixed) {
  .menu,
  .menu:target + .backdrop,
  .menu[aria-expanded="true"] + .backdrop{
    position: fixed;
  }
}
.header-wrp{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2,auto);
}
.search-h{
  grid-column: 2/2;
  grid-row: 1/2;
  justify-self: end;
}
.logo{
    width: 80px;
    height: 80px;
    justify-self: center;
}
.logo>img{
    display: block;
    width: 80px;
}
.logo-h{
  grid-column: 1/3;
  grid-row: 2/3;
}
.soc-f,.soc-a{
  display: flex;
  justify-content: space-between;
}
.footer-wrp>p{
  text-align: center;
}
}
@media only screen and (min-device-width : 768px){
    .grid-wrp{
        grid-template-columns: 1fr minmax(auto, 901px) minmax(auto, 279px) 1fr;
        grid-template-areas: "header header header header"
        ". main author ."
        ". main aside ."
        "footer footer footer footer";
    }
    .menu-toggle,.menu-close{
        display: none;
    }
    .grid-wrp>header,footer{
        display: grid;
        grid-template-columns: 1fr minmax(auto,1200px) 1fr;
    }
    .soc,.menu>ul{
        justify-content: space-between;
    }
    .header-wrp,.footer-wrp{
        grid-column: 2/3;
    }
    .logo{
        width: 100px;
        height: 100px;
    }
    .header-wrp{
           grid-template-areas: "logo-h . . . search-h soc-h"
        "logo-h . . . menu-h menu-h";
    }
    .soc-f{
        grid-column: 2/3;
        grid-row: 1/3;
        align-self: center;
    }
    .logo-f{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .footer-wrp>p{
        grid-column: 1/2;
    }
}
